* {
  margin: 0;
  padding: 0;
}

.tasklist {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.tasklist h1 {
  margin: 12px;
}

.tasks {
  margin: 12px;
  font-size: 28px;
}

/* Задание №1 */

/* Задание №2 */

/* Задание №3 */

/* Задание №4 */
